.what-is-music-therapy {
/*	background: url("../img/what-is.jpg") no-repeat;
	background-size: cover;
	background-attachment:fixed; */
	background: #70bd0f;
	background: #85CF25;
}
.site-header {
	margin-top: 0;
	padding-top: 4em;
}
.site-header:before {
	position: absolute;
	content: "";
	background: #fff url("../img/logo.png") no-repeat;
	background-size: contain;
	height: 3em;
	bottom: 2em;
	border: .4em solid #fff;
	top: 0;
	width: 2em;
	background-position: bottom;
	left: calc(50% - 1em);
}
.what-happens {
	background: #fff;
}
.link--facebook {
	background: url("../img/facebook.gif") no-repeat bottom left;
	background-size: 1.2em;
	padding-left: 1.6em;
}

@media screen and (min-width: $medium) {
	.site-header:before {
		left: 6%;
	}
}



